@model Takeaway.Models.Size
@{
    ViewBag.Title = "Create";
}

<div class="page-content" style="min-height: 1119px">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="~/Home/index">الرئيسية</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/Size/Index">الاحجام</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                تعديل الحجم
            </li>
        </ul>
    </div>
    <div id="divMsg">@Html.Raw(ViewBag.Msg)</div>
    <div class="row">
        <div class="col-md-12">
            @*<div id="bootstrap_alerts_demo">
                </div>*@
            <div class="portlet box grey-salsa">
                <div class="portlet-title">
                    <div class="caption">
                        تعديل الحجم
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
                    </div>
                </div>
                <div class="portlet-body form">

                    <!-- BEGIN FORM-->

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false, "", new { @class = "Metronic-alerts alert alert-danger fade in" })
                        @Html.HiddenFor(model => model.ID)
                        <div class="row">
                            <div class="col-md-9 ">
                                <div class="form-body">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SizeAR, htmlAttributes: new { @class = "col-md-4 control-label" })
                                        <div class="input-group col-md-4">
                                            @Html.EditorFor(model => model.SizeAR, new { htmlAttributes = new { placeholder = "إدخل الحجم باللغه العربيه", @class = "form-control" } })
                                            <span class="input-group-addon input-circle-right">
                                                @Html.ValidationMessageFor(model => model.SizeAR, "", new { @class = "text-danger" })
                                                @***@
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SizeEN, htmlAttributes: new { @class = "col-md-4 control-label" })
                                        <div class="input-group col-md-4">
                                            @Html.EditorFor(model => model.SizeEN, new { htmlAttributes = new { placeholder = "ادخل الحجم باللغه الانجليزيه", @class = "form-control" } })

                                            <span class="input-group-addon input-circle-right">
                                                @Html.ValidationMessageFor(model => model.SizeEN, "", new { @class = "text-danger" })
                                                @***@
                                            </span>
                                        </div>
                                    </div>
                           

                                    <div class="form-group" style="display:none;">
                                        @Html.LabelFor(model => model.IsActive, "تفعيل", htmlAttributes: new { @class = "col-md-4 control-label" })
                                        <div class="input-group col-md-4">
                                            @Html.EditorFor(model => model.IsActive, new { @class = "form-control" })
                                            <span class="input-group-addon input-circle-right">
                                                @***@
                                            </span>
                                        </div>
                                    </div>

                                  
                                </div>
                            </div>

                        </div>

                        <div class="form-actions fluid">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" value="حفظ" class="btn green " />
                                    <a href="~/Size/Index" class="btn default">للخلف</a>

                                </div>
                            </div>
                        </div>
                    }

                    <!-- END FORM-->
                </div>




            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script>

    </script>
}








